html,body{
    width:48mm;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6mm;
}
.price_table{
    width:48mm;
    table-layout: fixed;
    border-spacing: 0px;
}
.price_td{
    text-align: right;
}
.amnt_td{
    width: 6mm;
    text-align: center;
}
.desc_td{    
   width: 26mm;
   white-space: nowrap;
   overflow: hidden;
   text-align: left;
}